@import '../node_modules/bootstrap-less/bootstrap/index.less';

body {
    padding-top: 50px;
}

#app {

}

#root {
    display: flex;
    flex-direction: row;
}

#field {
    position: relative;
}

#sidebar {

}
